@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
}

.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: red;
	border-radius: 2px;
}




body{
    margin: 0;
    padding: 0;
    background: url(telephone.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
  }
  

  .cont{
    text-align: center;
}
form{
    margin:80px;
    padding: 10px ;
    width:35%;
    height:63%;
    background:linear-gradient(to bottom right,rgb(62, 202, 207),rgb(22, 23, 122), rgb(68, 20, 87)); 
    border-radius: 10%;
    position: absolute;
}
.form-group{
    padding:5px;
    margin:5%;
    
}
.form-control{
    
    border-radius: 2%;
   border-style: hidden;
}
.lastbutton{
    text-align: center;
   
}